<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div class="container">
    <main role="main" class="container">
        <br><br>
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">

                <div class="border-bottom">
                    <h2 class="mb-3" th:text="${boardDetailResponseDto.title}" style="font-size: 40px;">제목</h2>
                    <p class="fst-italic" style="margin-top:30px; font-size: 13px;">
                        <a th:text="${boardDetailResponseDto.writer}">Mark</a>
                        / 작성일 <a
                            th:text="${boardDetailResponseDto.createdDate} ? ${#temporals.format(boardDetailResponseDto.createdDate,'yyyy-MM-dd HH:mm')} : ${boardDetailResponseDto.createdDate}">작성일</a>
                        / 수정일 <a
                            th:text="${boardDetailResponseDto.modifiedDate} ? ${#temporals.format(boardDetailResponseDto.modifiedDate,'yyyy-MM-dd HH:mm')} : ${boardDetailResponseDto.modifiedDate}">수정일</a>
                        / 조회수 <a th:text="${boardDetailResponseDto.view}">조회수</a>
                    </p>
                </div>

                <p th:text="${boardDetailResponseDto.content}" style="font-size: 25px;">본문</p>

                <p class="col-md-8 fs-4">
                <div class="starter-template">
                    <!-- 수정/삭제 -->
                    <div th:if="${boardDetailResponseDto.writer == nickname && boardDetailResponseDto.writerId == userId}" style="display: inline-block">
                        <a th:href="@{'/board/detail/update/' + ${boardDetailResponseDto.id}}">
                            <button class="btn btn-outline-primary">수정</button>
                        </a>
                    </div>
                    <div th:if="${boardDetailResponseDto.writer == nickname && boardDetailResponseDto.writerId == userId}" style="display: inline-block">
                        <form>
                            <input type="hidden" name="id" id="id" th:value="${boardDetailResponseDto.id}"/>
                            <button type="button" class="btn btn-outline-danger" id="btn-delete">삭제</button>
                        </form>
                    </div>
                    <div class="btn_wrap text-center">
                        <a href="/" class="btn btn-outline-secondary">목록으로</a>
                    </div>
                    <!--                <nav class="blog-pagination" aria-label="Pagination">-->
                    <!--                    <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>-->
                    <!--                    <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>-->
                    <!--                </nav>-->
                </div>
                </p>
            </div>
        </div>
    </main>
</div> <!-- /container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>