<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div class="container">
    <main role="main" class="container">
        <br><br>
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">

                <div class="border-bottom">
                    <h2 class="mb-3" th:text="${boardDetailResponseDto.title}" style="font-size: 40px;">제목</h2>
                    <p class="fst-italic" style="margin-top:30px; font-size: 13px;">
                        <img th:src="|https://generalboardbucket.s3.ap-northeast-2.amazonaws.com/${writerProfileImageStoreName}|"
                             alt="" width="32" height="32"
                             class="rounded-circle"
                             onerror="this.onerror=null; this.src='/image/defaultProfileImage.png';">
                        <a th:text="${boardDetailResponseDto.writer}">작성자</a>
                        / 작성일 <a
                            th:text="${boardDetailResponseDto.createdDate} ? ${#temporals.format(boardDetailResponseDto.createdDate,'yyyy-MM-dd HH:mm')} : ${boardDetailResponseDto.createdDate}">작성일</a>
                        / 수정일 <a
                            th:text="${boardDetailResponseDto.modifiedDate} ? ${#temporals.format(boardDetailResponseDto.modifiedDate,'yyyy-MM-dd HH:mm')} : ${boardDetailResponseDto.modifiedDate}">수정일</a>
                        / 조회수 <a th:text="${boardDetailResponseDto.view}">조회수</a>
                    </p>
                </div>

                <p th:text="${boardDetailResponseDto.content}" style="font-size: 20px; margin-top: 20px;">본문</p>

                <p class="border-bottom" style="margin-top: 100px;">
                <div class="starter-template">
                    <!-- 수정/삭제 -->
                    <div th:if="${boardDetailResponseDto.writer == nickname && boardDetailResponseDto.writerId == userId}"
                         style="display: inline-block">
                        <a th:href="@{'/board/detail/update/' + ${boardDetailResponseDto.id}}">
                            <button class="btn btn-outline-primary">수정</button>
                        </a>
                    </div>
                    <div th:if="${boardDetailResponseDto.writer == nickname && boardDetailResponseDto.writerId == userId}"
                         style="display: inline-block">
                        <form>
                            <input type="hidden" name="id" id="id" th:value="${boardDetailResponseDto.id}"/>
                            <button type="button" class="btn btn-outline-danger" id="btn-delete">삭제</button>
                        </form>
                    </div>
                    <div class="btn_wrap text-center">
                        <a href="/" class="btn btn-outline-secondary">목록으로</a>
                    </div>
                    <!--                <nav class="blog-pagination" aria-label="Pagination">-->
                    <!--                    <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>-->
                    <!--                    <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>-->
                    <!--                </nav>-->
                </div>
                </p>

                <div th:if="${comments != null}" class="card">
                    <div class="card-header bi bi-chat-dots">
                        <a th:text="${#lists.size(comments)}"></a> Comments
                        <hr/>
                        <ul class="list-group-flush" th:each="comment : ${comments}" style="margin-left: -30px;">
                            <li class="list-group-item" th:id="'comments-'+${comment.id}">
                                <div class="d-flex text-muted">
                                    <img th:src="|https://generalboardbucket.s3.ap-northeast-2.amazonaws.com/${comment.commentWriterProfileImageStoreName}|"
                                         alt="" width="40" height="40"
                                         class="rounded-circle"
                                         onerror="this.onerror=null; this.src='/image/defaultProfileImage.png';" style="margin-right: 13px;">
                                    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <strong class="text-gray-dark" th:text="${comment.nickname}">댓글 작성자
                                                    닉네임</strong>
                                                <a th:text="${comment.createdDate} ? ${#temporals.format(comment.createdDate,'yyyy-MM-dd HH:mm')} : ${comment.createdDate}"
                                                   style="margin-left: 8px;">댓글 작성일</a>
                                                <a th:if="${comment.modifiedDate != comment.createdDate}"
                                                   style="margin-left: 2px;">(수정됨)</a>
                                            </div>
                                            <div th:if="${comment.commentWriterId} == ${userId}">
                                                <button class="btn btn-outline-secondary" type="button"
                                                        data-bs-toggle="collapse"
                                                        th:attr="data-bs-target='#collapseExample'+${comment.id}"
                                                        aria-expanded="false" aria-controls="collapseExample"
                                                        style="font-size: 3px; padding:3px;">
                                                    수정
                                                </button>
                                                <button class="btn btn-outline-secondary" type="button"
                                                        th:onclick="'main.commentDelete(' + ${boardDetailResponseDto.id} + ',' + ${comment.id} + ')'"
                                                        style="font-size:3px; padding:3px;">
                                                    삭제
                                                </button>
                                            </div>
                                        </div>
                                        <span class="d-block" th:text="${comment.content}"
                                              style="margin-top:3px;">댓글 내용</span>
                                    </div>
                                </div>

                                <div class="collapse border-bottom w-100" th:id="'collapseExample'+${comment.id}">
                                    <form>
                                        <input type="hidden" id="commentId" th:value="${comment.id}"/>
                                        <input type="hidden" id="boardIdForComment"
                                               th:value="${boardDetailResponseDto.id}"/>
                                        <div class="card-body">
                                                <textarea id="comment-content" class="form-control" rows="2"
                                                          th:text="${comment.content}"
                                                          style="font-size: 13px;"></textarea>
                                            <button class="btn btn-outline-secondary" type="button"
                                                    id="btn-comment-update"
                                                    style="font-size:3px; padding:3px; margin-top:7px;">
                                                저장하기
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header bi bi-chat-right-dots">Write a Comment</div>
                    <form>
                        <input type="hidden" id="boardId" th:value="${boardDetailResponseDto.id}"/>
                        <a sec:authorize="isAuthenticated()">
                            <div class="card-body">
                                <textarea id="content" class="form-control" rows="4" placeholder="댓글을 입력하세요"></textarea>
                            </div>
                            <div class="card-footer">
                                <button type="button" id="btn-comment-save"
                                        class="btn btn-outline-secondary bi bi-pencil-square"> 등록
                                </button>
                            </div>
                        </a>

                        <a sec:authorize="!isAuthenticated()">
                            <div class="card-body" style="font-size: small"><a href="/user/login">로그인</a>을 하시면 댓글을 등록할 수
                                있습니다.
                            </div>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div> <!-- /container -->
<div th:replace="fragments/footer :: footer"/>

<script src="/js/app/comment.js"></script>

</body>
</html>