<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/setting.css">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <title>General Board</title>

    <style>
    .field-error-form {
        border-color: #dc3545;
        color: #dc3545;
    }

    .field-error {
        border-color: #dc3545;
        color: #dc3545;
        font-size: 12px;
        padding-left: 3px;
    }
    </style>
</head>

<body>
<div style="height: 100%;">
    <div style="display: inline-block; height: 100%;">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 250px; height: 100%;">
            <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4" style="margin-left: 18px;">GENERAL BOARD</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <button onclick="location.href='/setting/userInfo'" type="button" class="nav-link text-white"
                            aria-current="page" style="width: 100%;">
                        <a style="margin-right: 76px;">
                            내 정보 수정
                        </a>
                    </button>
                </li>
                <div th:if="${formUser == true}">
                    <li>
                        <button onclick="location.href='/setting/userPassword'" type="button"
                                class="nav-link text-white" style="width: 100%;">
                            <a style="margin-right: 65px;">
                                비밀 번호 변경
                            </a>
                        </button>
                    </li>
                </div>
                <li>
                    <button href="#" class="nav-link text-white active collapsed" data-bs-toggle="collapse"
                            data-bs-target="#post-collapse" aria-expanded="false" style="width: 100%;">
                        <a style="margin-right: 114px;">
                            내 활동
                        </a>
                    </button>
                    <div class="collapse show" id="post-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/setting/userList"
                                   class="link-dark d-inline-flex text-decoration-none rounded text-white collapse show">작성한
                                게시물</a>
                            </li>
                            <!--                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded text-white"></a>-->
                            <!--                            </li>-->
                            <!--                            <li><a href="#"-->
                            <!--                                   class="link-dark d-inline-flex text-decoration-none rounded text-white">Shipped</a>-->
                            <!--                            </li>-->
                            <!--                            <li><a href="#"-->
                            <!--                                   class="link-dark d-inline-flex text-decoration-none rounded text-white">Returned</a>-->
                            <!--                            </li>-->
                        </ul>
                    </div>
                </li>
                <li>
                    <button onclick="location.href='/setting/withdrawal'" type="button" class="nav-link text-white" style="width: 100%;">
                        <a style="margin-right: 98px;">
                            회원 탈퇴
                        </a>
                    </button>
                </li>

            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/hyee0715.png" alt="" width="32" height="32"
                         class="rounded-circle me-2">
                    <strong>hyeminguri</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <li><a class="dropdown-item" href="/">게시판</a></li>
                    <li><a class="dropdown-item" href="/board/write">글쓰기</a></li>
                    <li><a class="dropdown-item" href="/setting/userInfo">마이 페이지</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="display: inline-block; margin-left: 25px;">
        <div class="d-flex flex-column flex-shrink-0" style="width: 1000px; height: 600px;">

            <div class="container">
                <main role="main" class="container">
                    <br>
                    <h2>작성한 게시물</h2>
                    <br>

                    <div class="starter-template">
                        <table class="table table-bordered">
                            <!-- CONTENTS !-->
                            <thead>
                            <tr style="text-align: center">
                                <th>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="allCheckBox" onclick="allChecked()">
                                    </label>
                                </th>
                                <th class="col-md-1">번호</th>
                                <th class="col-md-6">제목</th>
                                <th class="col-md-2">작성자</th>
                                <th class="col-md-2">작성일</th>
                                <th class="col-md-1">조회수</th>
                            </tr>
                            </thead>

                            <tbody>
                            <!-- CONTENTS !-->
                            <tr th:each="board : ${boardList}">
                                <td>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="chk" class="chk" onclick="chkClicked()" th:value="${board.id}">
                                    </label>
                                </td>
                                <td th:text="${board.id}" style="text-align: center"></td>
                                <td><a th:href="'/board/detail/'+${board.id}" th:text="${board.title}"></a></td>
                                <td th:text="${board.writer}" style="text-align: center"></td>
                                <td th:text="${board.createdDate} ? ${#temporals.format(board.createdDate,'yyyy-MM-dd HH:mm')} : ${board.createdDate}"
                                    style="text-align: center"></td>
                                <td th:text="${board.view}" style="text-align: center"></td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- Pagination -->
                        <div>
                            <div style="display: inline-block;">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a th:if="${curPage != 1}" class="page-link"
                                               href="/setting/userList/?page=1"
                                               aria-label="Start">
                                                <span aria-hidden="true" class="sr-only">Start</span>
                                            </a>
                                            <a th:if="${curPage == 1}" class="page-link"
                                               href="/setting/userList/?page=1"
                                               aria-label="Start" style="display: none;">
                                                <span aria-hidden="true" class="sr-only">Start</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a th:if="${curPage != 1}" class="page-link"
                                               th:href="@{'/setting/userList/?page=' + ${curPage - 1}}"
                                               aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a th:if="${curPage == 1}" class="page-link"
                                               href="/setting/userList/?page=1"
                                               aria-label="Previous" style="display: none;">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <span th:each="pageNum : ${pageList}" th:inline="text">
                                        <li class="page-item">
                                            <a th:if="${pageNum != curPage}" class="page-link"
                                               th:href="@{'/setting/userList/?page=' + ${pageNum}}">[[${pageNum}]]</a>
                                            <strong th:if="${pageNum == curPage}" class="page-link"
                                                    th:href="@{'/setting/userList/?page=' + ${pageNum}}">[[${pageNum}]] </strong>
                                        </li>
                                    </span>
                                        <li class="page-item">
                                            <a th:if="${curPage != totalLastPageNum}" class="page-link"
                                               th:href="@{'/setting/userList/?page=' + ${curPage + 1}}"
                                               aria-label="Next">
                                                <span class="sr-only">Next</span>
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                            <a th:if="${curPage == totalLastPageNum}" class="page-link"
                                               th:href="@{'/setting/userList/?page=' + ${curPage}}" aria-label="Next"
                                               style="display: none;">
                                                <span class="sr-only">Next</span>
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a th:if="${curPage != totalLastPageNum}" class="page-link"
                                               th:href="@{'/setting/userList/?page=' + ${totalLastPageNum}}"
                                               aria-label="End">
                                                <span aria-hidden="true" class="sr-only">End</span>
                                            </a>

                                            <a th:if="${curPage == totalLastPageNum}" class="page-link"
                                               th:href="@{'/setting/userList/?page=' + ${totalLastPageNum}}"
                                               aria-label="End" style="display: none;">
                                                <span aria-hidden="true" class="sr-only">End</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                            <div style="display: inline-block; float: right;">
                                <a href='javascript:boardDelete();' class="btn btn-outline-danger">삭제</a>
                            </div>

                            <div style="display: inline-block; float: right;"> <!-- 글쓰기 버튼 -->
                                <a style="float: right; margin-right: 15px;" class="btn btn-outline-dark"
                                   th:href="@{/board/write}">글쓰기</a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <form action="/setting/userList/search" method="GET">
                            <select name="searchOption">
                                <option selected value="">검색 옵션</option>
                                <option value="title">제목</option>
                                <option value="content">내용</option>
                            </select>
                            <input name="keyword" type="text" th:value="${keyword}">
                            <button class="btn btn-primary">검색하기</button>
                        </form>
                    </div>
                </main>
            </div> <!-- /container -->
        </div>
    </div>
</div>

<div th:replace="fragments/settingFooter :: settingFooter"/>

<script>
    //체크박스 전체 선택 클릭 이벤트
    function allChecked(target){

        //전체 체크박스 버튼
        const checkbox = document.getElementById('allCheckBox');

        //전체 체크박스 버튼 체크 여부
        const is_checked = checkbox.checked;

        //전체 체크박스 제외한 모든 체크박스
        if(is_checked){
            //체크박스 전체 체크
            chkAllChecked()
        }

        else{
            //체크 박스 전체 해제
            chkAllUnChecked()
        }
    }

    //자식 체크 박스 클릭 이벤트
    function chkClicked(){

        //체크박스 전체 개수
        const allCount = document.querySelectorAll(".chk").length;

        //체크된 체크박스 전체 개수
        const query = 'input[name="chk"]:checked'
        const selectedElements = document.querySelectorAll(query)
        const selectedElementsCnt = selectedElements.length;

        //체크박스 전체 개수와 체크된 체크박스 전체 개수가 같으면 전체 체크박스 체크
        if(allCount == selectedElementsCnt){
             document.getElementById('allCheckBox').checked = true;
        }

        //같지 않으면 전체 체크박스 해제
        else{
            document.getElementById('allCheckBox').checked = false;
        }
    }

    //체크박스 전체 체크
    function chkAllChecked(){
        document.querySelectorAll(".chk").forEach(function(v, i) {
            v.checked = true;
        });
    }

    //체크박스 전체 체크 해제
    function chkAllUnChecked(){
        document.querySelectorAll(".chk").forEach(function(v, i) {
            v.checked = false;
        });
    }

    //글 삭제
    function boardDelete(){
        //체크박스 체크 된 항목
        const query = 'input[name="chk"]:checked'
        const selectedElements = document.querySelectorAll(query)

        //체크박스 체크된 항목의 개수
        const selectedElementsCnt = selectedElements.length;

        if(selectedElementsCnt == 0){
            alert("삭제할 항목을 선택해주세요.");
            return false;
        }

        else{
            if (confirm("선택한 게시물을 삭제하시겠습니까?")) {
                const arr = new Array(selectedElementsCnt);

                document.querySelectorAll('input[name="chk"]:checked').forEach(function(v, i) {
                    arr[i] = v.value;
                });

                const form = document.createElement('form');
                form.setAttribute('method', 'post');        //Post 메소드 적용
                form.setAttribute('action', '/setting/userList/delete');

                var input1 = document.createElement('input');
                input1.setAttribute("type", "hidden");
                input1.setAttribute("name", "boardIds");
                input1.setAttribute("value", arr);
                form.appendChild(input1);
                console.log(form);
                document.body.appendChild(form);
                form.submit();
            }
        }
    }
</script>

</body>
</html>