<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <!--social login design-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">

    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200&display=swap" rel="stylesheet">

    <title>로그인</title>

    <link rel="stylesheet" href="/css/account.css">

</head>
<body>
<div class="wrap">
    <div class="login">
        <h2>로그인</h2>
        <div class="login_sns">
            <li><a href="/oauth2/authorization/google"><i class="xi-x xi-google"></i></a></li>
            <li><a href="/oauth2/authorization/naver"><i class="xi-x xi-naver"></i></a></li>
        </div>

        <form action="/user/login" method="post" class="login_form">
            <div class="login_id">
                <h4>아이디</h4>
                <input type="text" name="username" id="username" placeholder="아이디를 입력해주세요.">
            </div>
            <div class="login_pw">
                <h4>비밀번호</h4>
                <input type="password" name="password" id="password" placeholder="비밀번호를 입력해주세요.">
            </div>

            <div th:if="${param.error}">
                <p th:text="${exception}" class="login_error"></p>
            </div>

            <div class="login_etc">
                <div class="checkbox">
                    <input type="checkbox" name="remember-me" id="remember-me"> 아이디 저장
                </div>
                <div class="forgot_pw">
                    <a href="/user/findUsername">아이디 찾기</a>
                    <a>·</a>
                    <a href="">비밀번호 찾기</a>
                </div>
            </div>
            <div class="submit" style="margin-top: 35px;">
                <button class="signup-button" type="submit" id="btn-save">로그인</button>
            </div>
            <div class="login-to-sign-up" style="margin-top: 30px;">
                <a style="margin-right: 4px;">계정이 없으신가요?</a>
                <a href="/user/signUp">회원가입하기</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>