<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>회원가입</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/account.css">

    <style>
    .field-error-form {
        border-color: #dc3545;
        color: #dc3545;
        padding-left: 3px;
    }

    .field-error {
        border-color: #dc3545;
        color: #dc3545;
        font-size: 12px;
        padding-left: 3px;
    }
    </style>
</head>

<body>
<div class="wrap">
    <div class="signUp-block">
        <div class="input-form">
            <h2>Sign Up</h2>
            <form id="signUpForm" th:action="@{/user/signUp}" th:object="${userSignUpRequestDto}" method="POST" novalidate>
                <div class="row" style="margin-top: 25px;">
                    <div class="signUp col-md-6 mb-3" style="margin-top: 10px;">
                        <input type="hidden" name="certified" id="certified"
                               th:value="${userSignUpRequestDto.certified}"/>
                        <label for="username" style="font-weight: bold;">Username</label>
                        <input type="text" th:field="*{username}" th:errorclass="field-error-form" class="form-control"
                               id="username" placeholder="username" value="" name="username" required>
                        <div class="field-error" th:errors="*{username}">
                            이름 오류
                        </div>
                    </div>
                    <div class="signUp col-md-6 mb-3" style="margin-top: 10px;">
                        <label for="nickname" style="font-weight: bold;">Nickname</label>
                        <input type="text" th:field="*{nickname}" th:errorclass="field-error-form" class="form-control"
                               id="nickname" placeholder="nickname" value="" name="nickname" required>
                        <div class="field-error" th:errors="*{nickname}">
                            닉네임 오류
                        </div>
                    </div>
                </div>

                <div class="signUp mb-3" style="margin-top: 13px;">
                    <label for="password" style="font-weight: bold;">Password</label>
                    <input type="password" th:field="*{password}" th:errorclass="field-error-form" class="form-control"
                           id="password" placeholder="password" name="password" required>
                    <div class="field-error" th:errors="*{password}">
                        비밀번호 오류
                    </div>
                </div>

                <div class="signUp mb-3" style="margin-top: 30px;">
                    <label for="email" style="font-weight: bold;">Email</label>
                    <input type="email" th:field="*{email}" th:errorclass="field-error-form" class="form-control"
                           id="email" placeholder="you@example.com" name="email" required>
                    <div class="field-error" th:errors="*{email}">
                        이메일 오류
                    </div>
                </div>
                <div class="mb-4" style="margin-top: 30px;"></div>
                <button class="signup-button" type="submit" id="btn-save">submit</button>
            </form>

            <div class="sign-up-to-login">
                <a href="/user/login" style="text-decoration:none; color: inherit;">Already have an account? Sign in
                    here</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>