<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="container">
    <main role="main" class="container">
        <br>
        <h2>게시판</h2>
        <br>

        <div class="starter-template">

            <table class="table table-bordered">
                <!-- CONTENTS !-->
                <thead>
                <tr>
                    <th class="col-md-1">번호</th>
                    <th class="col-md-4">제목</th>
                    <th class="col-md-3">작성자</th>
                    <th class="col-md-2">작성일</th>
                    <th class="col-md-2">수정일</th>
                </tr>
                </thead>

                <tbody>
                <!-- CONTENTS !-->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:replace="fragments/footer :: footer" />
    </main>
</div> <!-- /container -->

</body>
</html>